
.ProductView {
    padding: 8px;
    background-color: white;
    margin-bottom: 80px;
}

.ProductCardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
    height: 100%;
}

.ProductTableContainer {
    padding: 10px;
}

